
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #AFEEEE;
    color: #000000;
}


header {
    background: #F0FFF0;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #00CED1;
}


main {
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    background: #F0FFF0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


footer {
    text-align: center;
    padding: 1rem 0;
    background: #F0FFF0;
    color: #000000;
    position: relative;
    bottom: 0;
    width: 100%;
}
